.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;

  .left {
    display: flex;
    flex: auto;
  }

  .right {
    display: flex;
  }
}

.content {
  flex: 1;
  min-height: calc(100vh - 64px - 64px);
  background-color: #fff;
}

.footer {
  padding: 10px 0;
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1 solid #e8e8e8;
}